{% extends 'base.html.twig' %}

{% block title %}Sign Up Successful{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h1 id="thank-you-message">Thank you for Signing Up!</h1>
            <p class="notice">Your account has been successfully created.</p>
        </div>
    </div>
</div>
{% endblock %}
